.topbar {
    background-color: rgb(20, 132, 18);
}

.topbar ul li {
    display: inline;
    padding-right: 40px;
}

.topbar ul li a {
    color: #fff;
    letter-spacing: 0.4px;
}

a {
    text-decoration: none !important;
}

.topbar button {
    float: right;
    background-color: #f2ff73;
    width: 187px;
    text-transform: uppercase;
    height: 40px;
    border: none;
    font-size: 14px;
    font-weight: 500;
}

@media(max-width:650px) {
    .topbar button {
        display: none;
    }

    .topbar ul {
        text-align: center;
    }
}